version: "3.8"
services:
    api:
        container_name: api
        build:
            context: .
            target: php
            args:
                - APP_ENV=${APP_ENV}
        environment:
            - APP_ENV=${APP_ENV}
        working_dir: /var/www
        volumes:
            - ./:/var/www
        ports:
            - 9000:8080
        network_mode: host
        depends_on:
            - database
            #- redis
    database:
      image: postgres
      restart: always
      shm_size: 128mb
      ports:
        - 5432:5432
      network_mode: host
      environment:
        POSTGRES_PASSWORD: test #This should not be in the repo, but ok for a demo project
        POSTGRES_USER: marko
        POSTGRES_DB: ImagineChat
    #redis:
    #    container_name:  redis
    #    image: redis:alpine
    #    command: redis-server --appendonly yes --requirepass  "secret"
    #    ports:
    #        - 6380:6379